.panel.panel-default
  .panel-body
    = simple_form_for :sympathizer, url: admin_sympathizer_path, method: :PUT, html: {class:  'form-horizontal', validate: false, 'data-parsley-validate' => true } do |f|
      .col-lg-6
        = f.input :square_id, as: :select, collection: @squares, label: 'Manzana', label_method: :with_parents_name, value_method: :id, required: false, include_blank: 'Ninguna', 'data-parsley-validate-sympathizer' => '', input_html: {data: {tool: 'select2', 'parsley-validate-sympathizer' => '', 'parsley-validate-if-empty' => ''}}
        = f.input :promoter_id, as: :select, collection: @promoters, required: false, label: 'Promotor', label_method: :full_name, value_method: :id, include_blank: 'Ninguno', 'data-parsley-validate-sympathizer' => '', input_html: {data: {tool: 'select2', 'parsley-validate-sympathizer' => '', 'parsley-validate-if-empty' => ''}}
        .form-group
          = f.button :submit, 'Guardar', class: 'btn btn-success'