.well.well-lg
  .row
    .col-xs-12
      %h4.text-muted
        CSV de votantes
    .col-xs-12
      .btn-group
        =link_to 'Agregar documento', new_admin_voter_document_path, class: 'btn btn-success'
        -# = f.button :submit, value: 'Buscar', class: 'btn btn-default'

.col-xs-12
  %h1
    Lista de documentos CSV

  -unless @voter_documents.empty?
    %table.table.table-hover
      %thead
        %tr
          %th Nombre
          %th Archivo

      -@voter_documents.each_with_index do |document,index|
        %tr
          %td=document.name
          %td=link_to document.attachment.file.filename, document.attachment_url
          %td
            = link_to 'Borrar', admin_voter_document_path(document.id), method: :delete, data: { confirm: 'Desea eliminar el documento?' }

  -else
    %h4
      No hay documentos

