<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @voter.full_name %></h1>
    <p>
      Ahora puedes descargar la applicación en el siguiente enlace:
    </p>
  </body>
</html>
