.panel.panel-default
  .panel-heading
    %b
      Zonas

  .panel-body
    #document-show
    .col-xs-12
      .wizzard-subtitle
        Información de la zona

    .col-xs-12
      .col-xs-5
        %b
          Nombre
        = @zone.name

.col-xs-12.text-right.bottom
  = link_to 'Lista de zonas', :back, class: 'btn btn-default'

