%header.topnavbar-wrapper
  %nav.navbar.topnavbar{role: 'navigation'}
    .navbar-header
      = link_to 'logo', root_path, class: 'navbar-brand'
    .nav-wrapper
      %ul.nav.navbar-nav
        %li
          = link_to '#', class: 'visible-xs sidebar-toggle',
            data: {'toggle-state' => 'aside-toggled', 
            'no-persist' => 'true'} do
            %em.fa.fa-navicon